@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
  font-family: 'Noto Sans TC', sans-serif, '微軟正黑體';
  z-index: 1;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #3f3f3f;
}

body {
  padding: 15%;
  box-sizing: border-box;
  position: relative;
  
}

.boards {
  width: 100%;
  height: 100%;
  position: relative;
  
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
}

.board {
  height: 85%;
  padding: 30px;
  background-color: #e8db5c;
  color: #5f108e;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
img {

  width: 50%;
  height: 50%;
  z-index: 1;
}

.boardYellow {
  padding: 25px;
  background-color: #FFB637;
  
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

h6 {
  font-weight: normal;
}


.butterfly { 
  position: absolute;
  width: 30%;
  height: 30%;
  
  top: 0;
  opacity: 0.15;
  z-index: 0;
}